<div id="welcome">
  <h1>Welcome to My Homepage</h1>
  <h3>Use the menu to select different Stylesheets</h3>
</div>
<div id="wrapper">
  <div id="menubar">
      <ul id="menulist">
          <li class="menuitem"><a href="./stylesheet1/">Stylesheet 1</a></li>
          <li class="menuitem"><a href="./stylesheet2/">Stylesheet 2</a></li>
          <li class="menuitem"><a href="./stylesheet3/">Stylesheet 3</a></li>
          <li class="menuitem"><a href="./stylesheet4/">Stylesheet 4</a></li>
          <li class="menuitem"><a href="./stylesheet5/">No Stylesheet</a></li>
      </ul>
  </div>
  <div id="main">
      <h1>Same Page Different Stylesheets</h1>
      <p>This is a demostration of how different stylesheets can change the layout of your HTML page. You can
          change
          the layout of this page by selecting different stylesheets in the menu, or by selecting one of the
          following links: <br>
          <a href="./stylesheet1/">Stylesheet 1</a>, <a href="./stylesheet2/">Stylesheet 2</a>, <a
              href="./stylesheet3/">Stylesheet 3</a>, <a href="./stylesheet4/">Stylesheet 4</a>.
      </p>
      <h3>No Styles</h3>
      <p>This page user DIV elements to group different sections of the HTML page. Click here to how the page
          looks like with no stylesheet: <a href="./stylesheet5/">No Stylesheet</a>.</p>
  </div>
</div>
<div id="sidebar">
  <h3>Side-Bar</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, quo ut, similique eum quis mollitia
      ab quae porro soluta aperiam doloremque sunt accusamus optio earum!</p>
</div>
<div id="bottom">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores non, at qui exercitationem
      dolorem porro quia rem consequuntur sint! Beatae dicta suscipit libero sint earum quam dolorum laboriosam,
      ducimus, nihil quis iste, quia provident veritatis officia enim fuga accusamus? Quis, natus optio? Maxime
      sint, repellat perferendis accusantium velit rerum odio odit laudantium, dolorem architecto sapiente
      accusamus voluptas commodi voluptate quia sunt expedita cumque! Enim quis quidem quaerat non recusandae!
      Blanditiis voluptas cupiditate recusandae praesentium quis, nam vero laborum vitae.</p>
</div>