.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navButton{
  font-size: 20px;
}

#nameButton{
  font-size: 22px;
}

.navActiveButton{
  background-color: rgb(47, 47, 172);
}

.navImage{
  background-image: url('../../assets/pp.jpg');
  background-size: cover;
}
