.example-card {
  max-width: 325px;
  
}

.example-header-image {
  background-image: url('/assets/css.png');
  background-size: cover;
}

#cssCard img {
  height: 175px;
  width: 200px;
  margin-left: 3em;
} 

#cssCard {
  margin-top: 20px;
}