<div class="row">
  <div class="col">
    <div class="container" id="sassCard">
      <mat-card class="example-card1">
        <mat-card-header>
          <div mat-card-avatar class="sass-header-image"></div>
          <mat-card-title>CSS with Super Powers</mat-card-title>
          <mat-card-subtitle>Developed with SASS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/logo-b6e1ef6e.svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. Helps
            to build applications faster and more beautiful.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/projects/sass_project">View</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col">
    <div class="container" id="cssCard">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="css-header-image"></div>
          <mat-card-title>Cascading Style Sheets</mat-card-title>
          <mat-card-subtitle>Developed with CSS</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/CSS.3.svg.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Cascading Style Sheets is a style sheet language used for describing the presentation of a document written
            in a markup language like HTML.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/projects/css_project">View</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col"></div>
</div>
