.example-card {
  max-width: 325px; 
}

.example-card1 {
  max-width: 325px; 
}


.css-header-image {
  background-image: url('/assets/css.png');
  background-size: cover;
}

.sass-header-image {
  background-image: url('/assets/logo-b6e1ef6e.svg');
  background-size: cover;
}

#cssCard img {
  height: 175px;
  width: 200px;
  margin-left: 3em;
} 

#sassCard img {
  height: 175px;
  width: 200px;
  margin-left: 3em;
} 

.row {
  margin-top: 20px;
}