// Variables 
$body-bg: #fff;
$main-font: Verdana;

// $primary-color: #008080;
// $light-color: #f4f4f4;
// $dark-color: #333;
// $secondary-color: #199b8c;

$container: 960px;
$section-padding: 20px;

$primary-color: red;
$light-color: #555;
$dark-color: #4B1515;
$secondary-color: black;
