<div id="body">
  <div class="pimg1">
    <div class="ptext">
      <h1 class="border" id="headBorder">Subhendu Das</h1>
      <h3 class="border trans">Web Developer</h3>
      <button class="btn btn-default btn-lg" id="homeBtn" routerLink="/projects">Get Started</button>
    </div>
  </div>
</div>
<section class="section section-light">
  <h2>Front-end Developer</h2>
  <p>I design and code beautifully simple things, and I love what I do.</p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Hi, I'm Subhendu. Nice to meet you.
    </span>
  </div>
</div>
<section class="section section-dark">
  <h2>Back-end Developer</h2>
  <p>
    I started to learn coding when I was in +2, I love to be around talented people. I'm quietly confident, naturally curious, and continuosly improving my knowledge. I have worked with Angular 7, React, Vue, Django, PWA, Bootstrap, Material Design, SASS, Node JS, Restify, Javascript, Typescript, GitHub, Firebase, Google OAuth, Python, Ansible, Docker, Jenkins etc.
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Shaping the digital user experience
    </span>
  </div>
</div>

<section class="section section-dark">
  <h2>Mentor</h2>
  <p>
    I genuinely care about people, and love helping my colleagues to work on their craft.
  </p>
</section>

<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Subhendu Web Design
    </span>
  </div>
</div>



<router-outlet></router-outlet>
